@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Righteous&family=Sarala:wght@400;700&display=swap');
/*font-family: 'Raleway', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif;*/

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(31, 29, 29);
}
.cabecalho-menu{
    font-family: 'Sarala', sans-serif;
    color: white;
}