@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Righteous&family=Sarala:wght@400;700&display=swap');
/*font-family: 'Raleway', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif;*/

*{
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
.cabecalho{
    background-color: rgb(31, 29, 29);
    display: flex;
    flex-direction: row; /*direção de linha*/
    align-items: center; /*centralizar no meio da linha*/
    justify-content: space-around;
    padding: 0px;
}

.cabecalho-menu{
    font-family: 'Sarala', sans-serif;
    color: white;
}

.music-player{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.anterior-back-botao{
    background-image: url(player_controls.574646cbe24e.png);
}